@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --white: hsl(36, 100%, 99%);
    --blue: hsl(233, 8%, 79%);
    --dark_blue:hsl(236, 13%, 42%);
    --very_dark_blue: hsl(240, 100%, 5%);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    list-style: none;
    border: none;
    text-decoration: none;
}
header{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

header nav ul li a {
    color: var(--dark_blue);
    font-size: 1.1rem;
}
header nav ul li a:hover{
    color:var(--red);
    transition: .4s;
}