@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --white: hsl(36, 100%, 99%);
    --blue: hsl(233, 8%, 79%);
    --dark_blue:hsl(236, 13%, 42%);
    --very_dark_blue: hsl(240, 100%, 5%);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    list-style: none;
    border: none;
    text-decoration: none;

}
/* header section starts  */
header{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

header nav ul li a {
    color: var(--dark_blue);
    font-size: 1.1rem;
}
header nav ul li a:hover{
    color:var(--red);
    transition: .4s;
}
/* header section ends  */



/* content section starts */

.content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    /* flex-wrap: wrap; */
    margin: 2rem;
    flex-grow: 4;
}

.first-container{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    /* background-color: red; */
}


.image img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    

}
.content-container{
    display: flex;
    flex-direction: row;
    gap:3rem;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.title h1,
.title h2,
.title h3 {
    font-size:5rem;
    color: var(--very_dark_blue);

}
.text{
    color: var(--blue);
    width: 50%;
    font-size: 2.2rem;

}

.content-container .text button{
    background-color: var(--red);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 2rem;
}
.content .text button a{
    color: var(--white);
    font-size: 1.7rem;
}
.content .text button:hover{
    background-color:var(--very_dark_blue) ;
    transition: .5s;
}
.second-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--very_dark_blue);
    padding: 15px;
    justify-content: space-between;
}
hr{
    height: .1rem;
    background-color: var(--dark_blue);
    margin: 1.2rem;
}

.second-container h1{
    font-size: 1.8rem; 
    color: var(--white);
    
}
.second-container h2{
    font-size: 1.2rem;
    color: var(--dark_blue);
    margin: 1rem 0;
    
}
.second-container .new{
    color: var(--orange);
    font-size: 3rem;

    margin-bottom: 1.1rem;
}

/* content section ends  */